*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  align-items: center;
}

.header-content{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-content > :first-child {
  margin-right: auto;
}

.header-logo{
  height: 70px;
}


.nav-list{
  display: flex;
  list-style: none;
}

.nav-list-item{
  margin: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content{
  width: 100%;
  height: 650px;
  text-align: center;
  padding: 200px;
}

.main-visual-title{
  color: #FAFAFA;
  font-size: 64px;
}

.main-visual-subtitle{
  margin-top: 10px;
  color: #FAFAFA;
  font-size: 20px;
}

.main-portfolio{
  width: 920px;
  padding-top: 90px;
  margin: 0 auto;
  text-align: center;
}

.main-content-title{
  font-size: 32px;
  color: #000000;
  position: relative;
}

.main-content-title:before {
  position: absolute; /*positionをabsoluteに指定*/
  content: "";
  display: inline-block;
  background-color: #EC715F; /*下線の色*/
  width: 70px; /*線の幅*/
  height: 3px; /*線の太さ*/
  left: 50%;  /*線のヨコ位置*/
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/}

.main-feature{
  width: 980px;
  padding-top: 90px;
  margin: 0 auto;
  text-align: center;
}

.main-content-text{
  margin: 41px 0;
}