*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  align-items: center;
}

.header-content{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-content > :first-child {
  margin-right: auto;
}

.header-logo{
  height: 70px;
}


.nav-list{
  display: flex;
  list-style: none;
}

.nav-list-item{
  margin: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content{
  width: 100%;
  height: 650px;
  text-align: center;
  padding: 200px;
}

.main-visual-title{
  color: #FAFAFA;
  font-size: 64px;
}

.main-visual-subtitle{
  margin-top: 10px;
  color: #FAFAFA;
  font-size: 20px;
}

.main-portfolio{
  width: 100%;
  padding-top: 90px;
  margin: 0 auto;
  text-align: center;
  background-color: #ECEFF1;
}

.main-portfolio .portfolio{
  width: 920px;
}

.main-content-title{
  font-size: 32px;
  color: #000000;
  position: relative;
}

.main-content-title:before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-feature{
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.main-content-text{
  margin: 41px 0;
}

.main-content-image{
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main-content-image .image{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 90px;
}

.main-content-image .image:nth-child(1){
  background-image: url(img/sketch.jpg);
  margin: 0 10px 10px 0;
}

.main-content-image .image:nth-child(2){
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 0;
}

.main-content-image .image:nth-child(3){
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.main-content-image .image:nth-child(4){
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.main-content-image .image:nth-child(5){
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.main-content-image .image:nth-child(6){
  background-image: url(img/webcamp-mother.png);
}

.main-content-figure, .explanation{
  display: flex;
}

.figure{
  width: 320px;
  height: auto;
}

.figure:nth-child(2){
  margin: 0 10px;
}

.fa-solid{
  font-size: 60px;
}

.figure-title{
  margin: 10px 0;
  font-size: 20px;
  color: #000000;
}

.figure-text, .profile-info{
  display: inline-block;
  text-align: left;
}

.main-profile{
  width: 100%;
  padding: 90px 0;
  text-align: center;
  background-color: #ECEFF1;
}

.profile{
  width: 1024px;
  margin: 0 auto;
}

.profile-image, .profile-info{
  width: 512px;
  height: 250px;
}

.profile-image .image{
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}


.profile-info .title{
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-info .text{
  font-size: 16px;
  color: #000000;
}

.name-text{
  margin-bottom: 20px;
}

